body {
    background-image: url("../images/background_pattern.png")
}

nav {
    border-bottom: 3px solid #777777;
}

#navbar {
    padding: 0px;
}

#brand {
    background: #4aaaa5;
    color: #ffffff;
    padding: 20px;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: bolder;
}

#mainsection {
    background: #ffffff;
    border: 1px solid #777777;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 72px;
}

#sectionheader {
    color: #4aaaa5;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}

#headshot {
    float: left;
    margin-right: 20px;
}

#mainBio {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    font-size: 20px;
}

h5 {
    background: #4aaaa5;
    padding: 10px;
    text-align: center;

}

#projects {
    color: #ffffff;
}

#submit {
    background: #4aaaa5;
    color: #ffffff;
}

footer {
    padding-top: 20px;
    border-top: 3px solid #4aaaa5;
    background: #777777;
}